@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

@import "./variables.scss";

@import "~bulma/bulma.sass";

body {
    background-color: $black-bis;
}

.video-canvas {
    .card {
        border-radius: 16px;
        .media {
            align-items: center;
        }
        .title {
            color: #fff;
        }
    }
}

.album-gallery {
    .album {
        margin: $gap * 2;
        &:hover {
            cursor: pointer;
        }
        &-title {
            margin-bottom: $gap * 2;
        } 
    }
}